@model PagedList.IPagedList<Music_site_MVC.Models.Artist>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Home Page";
}

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr class="theme">
                <th>Artist Name</th>
                <th>Songs</th>
                <th>Views</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Music_site_MVC.Models.Artist art in Model)
            {
                <tr>
                    <td>@Html.ActionLink(art.Name, "Index", "Artist", new { id = art.Id }, null)</td>
                    <td>@art.Songs.Count</td>
                    <td>@art.ViewsCount</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
