@using Music_site_MVC.Models;
@model Song

<div id="currentSong">
    <h3>@Model.SongName</h3>
    <pre id="pre_text">@Model.SongText</pre>
    <input type="button" name="Change" value="Change" id="button_change" onclick="Change_text()" />
    <form id="Change_song_form" hidden method="post" action="/Song/ChangeSong">
        <input type="hidden" value="@Model.Id" name="SongId" />
        <textarea id="text_to_change" cols="45" rows="70" name="SongText">@Model.SongText</textarea>
        <input type="submit" value="Save" />
    </form>
    <input hidden type="button" name="Cancel" value="Cancel" id="button_cancel" onclick="Cancel_changing()" />
    <hr />
    @foreach (Akord akord in Model.Akords)
    {
        <b>@akord.Name</b>
        <br />
        <img src="@akord.Image" />
        <br />
    }
    <input type="text" class="form-control" id="tokenfield" value="red,green,blue" />
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    @Ajax.ActionLink("Prev", "GetPrevSong",
    new { artist_id = Model.ArtistId, song_id = (Model.Id) },
    new AjaxOptions { UpdateTargetId = "curSongData" })
    @Ajax.ActionLink("Next", "GetNextSong",
    new { artist_id = Model.ArtistId, song_id = (Model.Id) },
    new AjaxOptions { UpdateTargetId = "curSongData" })
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
</div>
<script>
    function Change_text()
    {
        var Original_text = document.getElementById("pre_text");
        var Button_change = document.getElementById("button_change");

        var Change_form = document.getElementById("Change_song_form");
        var Button_cancel = document.getElementById("button_cancel");

        Original_text.hidden = true;
        Button_change.hidden = true;

        Change_form.hidden = false;
        Button_cancel.hidden = false;
    }
    function Cancel_changing()
    {
        var Original_text = document.getElementById("pre_text");
        var Button_change = document.getElementById("button_change");

        var Change_form = document.getElementById("Change_song_form");
        var Button_cancel = document.getElementById("button_cancel");

        Original_text.hidden = false;
        Button_change.hidden = false;

        Change_form.hidden = true;
        Button_cancel.hidden = true;
    }
      function ChangeURL ()
      {
            var url = $(this).attr('http');
            window.history.pushState(null, null, @Model.Id);
            return false;
      };
    ChangeURL();
</script>
