@model PagedList.IPagedList<Music_site_MVC.Models.Song>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.First().Artist.Name</h2>
<div>
    <pre>@Model.First().Artist.Biography</pre>
</div>
<div>
    <br />
    <h3> Подборы аккордов</h3>
    <br />
    <table class="table-striped">
        <thead>
            <tr>
                <th>@Html.ActionLink("Song Name", "Index", new { page = Model.PageNumber, sortOrder = Request.QueryString["sortOrder"] == "Name desc" ? "Name" : "Name desc" })</th>
                <th>@Html.ActionLink("Views", "Index", new { page = Model.PageNumber, sortOrder = Request.QueryString["sortOrder"] == "Views" ? "Views desc" : "Views" })</th>
            </tr>
        </thead>
        <tbody class="s2">
            @foreach (Music_site_MVC.Models.Song song in Model)
            {
                <tr>
                    <td>@Html.ActionLink(song.SongName, "Index", "Song", new { id = song.Id }, null)</td>
                    <td>@song.ViewsCount</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = Request.QueryString["sortOrder"] }))




